@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cookie&family=Delius+Swash+Caps&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Cookie&family=Delius+Swash+Caps&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Cookie&family=Delius+Swash+Caps&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --BLACK: #202020;
  --GREY: #50514F; 
  --RED: #F25F5C;
  --YELLOW: #fa9c0e;
  --BLUE: #113240;
  --TILE: #195771d1;
  --CREAM: #ffffff;
  --WHITE: whitesmoke;
  --BACKGROUND: linear-gradient(-135deg,rgba(2, 0, 36, 1) 0%, rgb(6, 6, 43) 51%, rgb(38, 38, 61) 64%, rgb(64, 66, 71) 100%);
  --BOX-SHADOW: 10px 10px 5px 0px rgba(0,0,0,0.75);
  --BOX-GLOW: 5px 5px 2px 2px rgba(255, 250, 198, 0.319);

  --FONT_ONE: "Montserrat", sans-serif;
  --FONT_TWO: "Caveat", cursive;

  --BORDER-LARGE: 5px solid var(--BLACK);
  --BORDER-MEDIUM: 3px solid var(--BLACK);

}

/* GLOBAL */

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FONT_ONE);
}

html {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--BACKGROUND);
  color: var(--CREAM);
}

body {
  height: 100%;
  width: 100%;
}

button {
  padding: 0.5rem;
  font-family: var(--FONT_ONE);
  font-weight: 600;

  border: 3px solid var(--RED);
  border-radius: 5px;

  cursor: pointer;
}

.Body {
  width: 70%;

} 


a {
  color: aliceblue;
  text-decoration: none;
}
/*PAGES*/

.App {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;

  border-right: var(--BORDER-LARGE);
  border-left: var(--BORDER-LARGE);
  background-color: var(--TILE);
}

/*COMPONENTS*/

.Header {
  width: 100%;
  height: 10vh;

  padding: 1rem;
  grid-area: 1rem;
  gap: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--BLUE);
  border: var(--BORDER-LARGE);
} 


.Header-Two {
  width: 100%;
  height: 18h;

  padding: 1rem;
  grid-area: 1rem;
  gap: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
h1 {
  font-size: 4rem;
}

h2 {
  padding: 1rem;
}

textarea{
  max-width: 400px;
  font-size: 1rem;
  font-weight: 500;
}

label {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: underline;
}

.Font-Changes {
  font-family: var(--FONT_TWO);
}

.Section-Multiple {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.2rem;
  gap: 1.2rem;
} 

.Section-Multiple-Columns {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  gap: 1.2rem;
}

.Section-Single {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
} 

.Button-Container {
  width: 80%;
  height: 20%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  border-top: solid 5px var(--BLUE);
}

.Button-Container-Column {
  width:  20%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 2.5rem;

  border-left: solid 5px var(--BLUE);
}

.Bundle {
  width: 280px;
  height: 320px;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem;
  gap: 2rem;

  border: solid 3px rgb(50, 49, 49);
  border-radius: 10px;
  background-color: var(--BLACK);
  border-radius: 5px;
  transition: 0.3s;
}

.Card {
  width: 220px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  border: solid 3px rgb(50, 49, 49);
  border-radius: 10px;
  background-color: var(--BLACK);
  border-radius: 5px;
  transition: 0.3s;
}

.ViewCard {
  width: 450px;
  height: 530px;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem;
  gap: 2rem;

  font-weight: 600;
  

  border: solid 3px rgb(50, 49, 49);
  border-radius: 10px;
  background-color: var(--BLACK);
  border-radius: 5px;

}

.Box{
  width: 400px;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  border: solid 3px rgb(50, 49, 49);
  border-radius: 10px;
  background-color: var(--BLACK);
  border-radius: 5px;
}


form {
  width: 450px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: start;
  padding: 1rem;
  gap: 3rem;

  border: solid 3px rgb(50, 49, 49);
  border-radius: 10px;
  background-color: var(--BLACK);
  border-radius: 5px;
  transition: 0.3s;
}


.Icon {
  width: 100px;
}

.Home-Icon {
  width: 60px;
  background-color: var(--BLACK);
  border-radius: 5px;
  transition: 0.3s;
}


.Save-Button {
  width: 70px;
  height: 40px;

  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.4s;
}

.Link-Button {
  width: fit-content;
  height: fit-content;

  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.4s;
  padding: 0.5rem;

  background-color: var(--BLACK);
  color: var(--CREAM);

  border: 3px solid var(--WHITE);
  border-radius: 5px;
}

.Delete-Button {
  width: 100px;
  height: 40;;

  background-color: #F25F5C;
  font-weight: 800;
  font-size: 1.2rem;
  transition: 0.2s;

  border: solid 3px var(--BLACK);
}


/*CHANGES*/

.Centre {
  align-items: center;
  justify-content: center;
}

/*ANIMATIONS*/

.Bundle:hover,
.Home-Icon:hover,
.Delete-Button:hover {
  scale: 110%;
}

.Save-Button:hover,
.Link-Button:hover{
  opacity: 80%;
}